body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
  /* Enlaza la tipografia Open Sans */
}

/*Contenedor Flexbox*/
.flex-container{
	display : flex;
}

.img-container{
	
	overflow: hidden;
}


#menu.flex-container{
	justify-content: flex-end;
	align-items: center;
	background-color: #0086b3;
}

.logo{
	width: 70px;
	margin-right: auto;
	margin-left: 20px;
}

#menu a{
	font-family: font-family: 'Prompt', sans-serif;
	display: inline-block;
	padding: 20px;
	text-decoration: none;
	color: whitesmoke;
}
#portada.flex-container{
	background-color: #e6ffff;
	color: whitesmoke;
	flex-direction: column;
	align-items: center;
}